@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Forum</h1>
    <p class="lead">Here is my test forum</p>
</div>

<div class="row">
    <div class="container">
        
        <div class="col-md-12">

            @foreach (var ft in ViewBag.ForumThemes)
            {
                <div class="row">
                    <div class="col-md-3">@ft.creator</div>
                    <div class="col-md-9">
                        <p><a href="/Home/Theme/@ft.Id">@ft.themeName</a></p>
                        <p>@ft.questionDescription</p>
                        <p>@ft.themeDate</p>
                    </div>
                </div>
            }
            @if (Request.IsAuthenticated)
            {
                <a href="Home/AddTheme" class="btn btn-info">Создать новую тему</a>

            }
        </div>
        </div>
    </div>