@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Forum</h1>
    <p class="lead">Here is my test forum</p>
</div>

<div class="row">
    <div class="container">
        
        <div class="col-md-12 text-center">

            @foreach (var ft in ViewBag.ForumThemes)
            {
                <div class="row forumSign bg-info">
                    <div class="col-md-3 ">
                        <p class="text-center">@ft.creator</p>
                    </div>
                    <div class="col-md-9 text-center">
                            <p class="text-center"><a href="/Home/Theme/@ft.Id">@ft.themeName - @ft.themeDate</a></p>
                            <p class="text-center">@ft.questionDescription</p>
                            
                    </div>
                </div>
            }
            @if (Request.IsAuthenticated)
            {
                <a href="Home/AddTheme" class="btn btn-info">Создать новую тему</a>

            }
        </div>
        </div>
    </div>